.registerForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 300px;
}

.registerForm input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--gray-alpha-200);
  font-size: 16px;
}

.registerForm button {
  margin-top: 16px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: var(--foreground);
  color: var(--background);
  font-size: 16px;
  cursor: pointer;
}

.registerForm button:hover {
  background-color: var(--button-primary-hover);
}
